
.best {
    background-image: url('../img/bg/best-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__title--best {
    color: #2f3234;
    padding: 0;
    margin-bottom: rem(40px);
    text-align: center;
}
.best_conteiner {

    display: flex;
    justify-content: space-between;
}
.best_description {
    display: flex;
    width: rem(300px);
    margin-right: rem(20px);
    justify-content: start;
    align-items: center;
    flex-direction: column;

}
.best_description-img {
    height: rem(90px);
    content: "";
}


.best_description-title {
    text-align: center;
    font-size: rem(24px);
    font-family: 'Lifehack';
    font-weight: 500;
    margin-bottom: rem(20px);
}

.best_description-text {
    text-align: center;
    font-family: 'Ubuntu';
    font-weight: 300;
    color: #646465;

}