.menu {
    background: url(../../img/bg/burger1.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

.menu_title {
    color: #fff;
    display: inline-block;
    padding-left: rem(100px);
    padding-top: rem(100px);
}



.menu_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    }
    .menu_content-item{
    display: flex;
    background: rgba($color: #000000, $alpha: .5);
    }
    
.menu_content-name{
    display: flex;
    align-items: center;
    width: rem(120px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba($color: #000000, $alpha: .5);
    }
}


    .menu-name_rotate{
    transform: rotate(270deg);
    width: 100%;
    white-space: nowrap;
    font-family: "Gagalin"; 
    font-size: rem(40px); 
    font-weight: normal;
    }

    .active{
    width: 50%;
    }
    .active .menu_content-acco{
    display: flex;
    }

    .menu_content-acco { 
        display: none; 
        justify-content: center; 
        padding-top: rem(60px); 
        
        
        
        
        } 
    .menu_acco-desk { 
        width: 90%; 
        font-family: "Ubuntu"; 
        font-size: rem(14px); 
        font-weight: 300; 
        color: #fff; 
        line-height: 2; 
        }