@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: $width/2;
    background-color: $color;
  }
  
  //превращает пиксели в ремы для адаптива
  @function rem($px) {
    @return $px / 16px+0rem;
  }

  @mixin tablets {
    @media screen and(max-width: $tablets){
      @content;
    }
  }

  @mixin phones {
    @media screen and(max-width: $phones){
      @content;
    }
  }